@font-face {font-family: 'dragonfont';src: url('Fonts/eightbit/ancientmoderntales-a7po-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');

*{margin: 0; padding: 5px;}

body{
  font-family: 'Sono', sans-serif;
  text-align: center;
  padding-top:50px;
  background: hsla(203, 62%, 70%, 1);
  background: linear-gradient(hsla(203, 62%, 70%, 1), hsla(220, 9%, 93%, 1));
  background: -moz-linear-gradient(hsla(203, 62%, 70%, 1), hsla(220, 9%, 93%, 1));
  background: -webkit-linear-gradient(hsla(203, 62%, 70%, 1), hsla(220, 9%, 93%, 1));
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#83BDE2", endColorstr="#ECEDEF", GradientType=1 );
  min-height: 100vh;
  text-align: center;
}

button {
  border: none;
  background-color: #e3e1e1;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  filter:drop-shadow(1px 1px 1px #000);
}

button:hover{background-color: #f5f5f5;}

.hidden{display: none !important;}

.options{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 5px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 75vw;
}

.letters, .playerContainer, .categoryWrapper, .timerWrapper{
  border: 1px solid black;
  border-radius: 5px;
}

.letters span{display: inline-block;font-size: 40px;}

.letters span:hover{transform: scale(1.2); cursor: pointer;}

.positivePointButtons, .startButton {color: green;}

.minusPointButtons, .stopButton {color: red;}

.playerButtonWrapper, .startAndStopButtons {display: flex; justify-content: space-around;}


@media only screen and (min-width: 481px) {

  .options {width: 20vw;}

  .players{display: flex;}

  .playerContainer, .categoryWrapper, .timerWrapper{width: 100vw;}

  .categoryAndTimeWrapper {display: flex; justify-content: space-around;}
}
